.default-theme {
  background-color: white;
  color: black; }

.vancouver-theme {
  background-color: #DDD;
  color: #576b96; }

.ballard-theme {
  background-color: #576b96;
  color: #DDD; }

.parchment-theme {
  background-color: #f7f1cf;
  color: #774c27; }

.night-theme {
  background-color: black;
  color: white; }

.dark-theme html, .dark-theme body, .dark-theme #container {
  background-color: #000; }
.dark-theme #readium-content-container {
  color: #030303; }
.dark-theme .page-margin {
  border-left: 1px solid #000;
  border-right: 1px solid #000; }
.dark-theme .page-margin, .dark-theme .page {
  background-color: #444; }
.dark-theme #content {
  color: #EEE; }
