.default-theme {
  background-color: white;
  color: black; }
  .default-theme #readium-content-container.mo-playing {
    color: #777; }
    .default-theme #readium-content-container.mo-playing .current-mo-content {
      color: #000000; }

.vancouver-theme {
  background-color: #DDD;
  color: #576b96; }
  .vancouver-theme #readium-content-container.mo-playing {
    color: #777; }
    .vancouver-theme #readium-content-container.mo-playing .current-mo-content {
      color: #576b96; }

.ballard-theme {
  background-color: #576b96;
  color: #DDD; }
  .ballard-theme #readium-content-container.mo-playing {
    color: #888; }
    .ballard-theme #readium-content-container.mo-playing .current-mo-content {
      color: #DDD; }

.parchment-theme {
  background-color: #f7f1cf;
  color: #774c27; }
  .parchment-theme #readium-content-container.mo-playing {
    color: #eebb22; }
    .parchment-theme #readium-content-container.mo-playing .current-mo-content {
      color: #774c27; }

.night-theme {
  background-color: black;
  color: white; }
  .night-theme #readium-content-container.mo-playing {
    color: #666; }
    .night-theme #readium-content-container.mo-playing .current-mo-content {
      color: white; }

.dark-theme html, .dark-theme body, .dark-theme #container {
  background-color: #000; }
.dark-theme #readium-content-container {
  color: #030303; }
.dark-theme .page-margin {
  border-left: 1px solid #000;
  border-right: 1px solid #000; }
.dark-theme .page-margin, .dark-theme .page {
  background-color: #444; }
.dark-theme #content {
  color: #EEE; }
