.navbar .nav > li > a {
  padding: 5px 0; }
.navbar .brand {
  padding: 5px;
  margin-left: 10px; }
.navbar .divider-vertical {
  height: 46px; }
.navbar .divider-vertical.stubby {
  margin-top: 8px;
  height: 30px; }
