html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #BBB; }

#container {
  margin: 0;
  padding: 0;
  width: 100%;
  /*height: 100%;
  overflow: hidden;*/ }

#content-end {
  margin: 0;
  height: 0;
  padding: 0; }

#content {
  color: #444;
  font: normal 16px/1.25 "Helvetica Neue", sans-serif; }

#readium-content-container {
  -webkit-flow: 'foo';
  -webkit-flow-into: foo; }

::-webkit-scrollbar {
  visibility: hidden; }

#page-wrap #container {
  position: relative;
  width: 100%;
  height: 100%; }

.page-wrap {
  height: 100%;
  width: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
  overflow: visible;
  z-index: 1; }

.page-wrap.hidden-page {
  visibility: hidden;
  z-index: -10000; }

.page-wrap:before, .page-wrap:after {
  content: "";
  display: block;
  height: 2%;
  clear: both; }

.page-margin {
  height: 96%;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-shadow: 0 0 5px 5px#888;
  background-color: white;
  overflow: visible; }

.page-margin:before, .page-margin:after {
  content: "";
  display: block;
  height: 5%;
  clear: both; }

.page {
  background-color: white;
  border: none;
  content: -webkit-from-flow("foo");
  -webkit-flow-from: foo;
  -webkit-region-overflow: auto;
  overflow: visible;
  height: 90%;
  width: 90%;
  margin: 0 auto; }

.space {
  height: 5%;
  margin: 0px;
  width: 0px; }

#container {
  background-color: #BBB; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

/* Style declarations for two up mode */
.two-up .page-wrap {
  width: 50%; }

.two-up .page-wrap.odd {
  left: 50%; }

.two-up .page-wrap.even {
  left: 0; }

.two-up .odd, .two-up .even .page-margin {
  float: right; }

.two-up .even, .two-up .odd .page-margin {
  float: left; }

.two-up .page-margin {
  width: 90%;
  margin: 0; }

.two-up .page {
  width: 85%; }

#spine-divider {
  position: absolute;
  top: 2%;
  left: 50%;
  height: 96%;
  width: 1px;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(5, 5, 5, 0.7);
  -moz-box-shadow: 0px 0px 15px 3px rgba(5, 5, 5, 0.7);
  box-shadow: 0px 0px 15px 3px rgba(5, 5, 5, 0.7);
  display: none;
  background-color: #444;
  opacity: 0.6;
  z-index: 10; }

/**************** THE TOC PANEL ************************/
#menu {
  position: fixed;
  height: 100%;
  width: 25%;
  background-color: #F3F6F7;
  top: 0;
  left: -25%;
  border-left: 1px solid #DDD;
  font-size: 0.8em;
  overflow: scroll; }

#menu li {
  text-align: left;
  margin: 5px; }

.show-toc #menu {
  left: 0px; }

.show-toc #page-wrap {
  width: 75%;
  left: 25%;
  position: relative; }

.show-toc .page-margin {
  width: 95%;
  margin: 0 auto; }

.show-toc .two-up .page-margin {
  width: 95%; }

/****************** The Top Bar *****************/
#toolbar-el {
  height: 40px; }

#top-bar {
  width: 100%;
  position: fixed;
  height: 30px;
  padding-top: 10px;
  top: 0px;
  z-index: 1000;
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter: alpha(opacity=9);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  text-align: center;
  color: #DDD;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 3px solid #6FA64D; }

#back-to-lib-button {
  float: left;
  margin-left: 20px; }

img#readium-icon {
  height: 25px;
  width: 45px;
  margin: auto 0px;
  padding: 0px;
  position: relative;
  display: inline; }

.top-bar-button img#readium-icon {
  top: 0px; }

#bar-logo {
  position: relative;
  top: -10px;
  right: 20px; }
