#settings {
  position: fixed;
  width: 334px;
  height: 35px;
  margin-top: -80px;
  margin-left: -400px;
  top: 100%;
  left: 100%;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #000;
  z-index: 10; }

#settings span {
  height: 35px;
  margin: 0px;
  padding: 0px;
  border: none;
  display: block;
  float: left; }

#settings span.setting-button {
  width: 46px;
  text-align: center; }

span.setting-button:hover {
  background-color: #353F5E;
  opacity: 1;
  cursor: pointer; }

#settings span.setting-button img {
  position: relative;
  top: 6px; }

#settings span.divider {
  width: 0px;
  border-left: 1px solid black;
  border-right: 1px solid #353F5E; }

/* stop buttons from highlighting on double click */
#settings, #settings span, #settings img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#settings {
  background-color: #353f5e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353f5e), color-stop(100%, #000011));
  background-image: -webkit-linear-gradient(top, #353f5e, #000011);
  background-image: -moz-linear-gradient(top, #353f5e, #000011);
  background-image: -ms-linear-gradient(top, #353f5e, #000011);
  background-image: -o-linear-gradient(top, #353f5e, #000011);
  background-image: linear-gradient(top, #353f5e, #000011); }

#settings {
  opacity: 0.9;
  -webkit-transition-property: opacity, 1s, ease-in;
  -moz-transition-property: opacity, 1s, ease-in;
  -ms-transition-property: opacity, 1s, ease-in;
  -o-transition-property: opacity, 1s, ease-in;
  transition-property: opacity, 1s, ease-in;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }

#settings.hover-fade {
  opacity: 0; }

#settings.hover-fade:hover {
  opacity: 0.9; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }

#readium-book-view-el, #container, #page-wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

#content-end {
  margin: 0;
  height: 0;
  padding: 0; }

#content {
  font: normal 16px/1.25 "Helvetica Neue", sans-serif; }

#readium-content-container {
  -webkit-flow: 'foo';
  -webkit-flow-into: foo; }

.page-wrap {
  height: 100%;
  width: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
  overflow: visible;
  z-index: 1;
  margin: 0; }

.page-wrap.hidden-page {
  visibility: hidden;
  z-index: -10000; }

.page-margin {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0;
  overflow: visible; }

.page-margin:before, .page-margin:after {
  content: "";
  display: block;
  height: 5%;
  clear: both; }

.page {
  border: none;
  content: -webkit-from-flow("foo");
  -webkit-flow-from: foo;
  -webkit-region-overflow: auto;
  overflow: visible;
  height: 90%;
  width: 90%;
  margin: 0 auto; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

#touch-panel {
  visibility: invisible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; }

/* Style declarations for two up mode */
.two-up .page-wrap {
  width: 50%; }
.two-up .page-wrap.odd {
  left: 50%; }
.two-up .page-wrap.even {
  left: 0; }
.two-up .odd, .two-up .even .page-margin {
  float: right; }
.two-up .even, .two-up .odd .page-margin {
  float: left; }
.two-up .page-margin {
  width: 90%;
  margin: 0; }
.two-up .page {
  width: 85%; }
.two-up #spine-divider {
  position: absolute;
  top: 40px;
  left: 50%;
  height: 87%;
  margin: 2% 0;
  width: 1px;
  -webkit-box-shadow: 0 0 15px 3px rgba(5, 5, 5, 0.7);
  -moz-box-shadow: 0 0 15px 3px rgba(5, 5, 5, 0.7);
  box-shadow: 0 0 15px 3px rgba(5, 5, 5, 0.7);
  display: none;
  background-color: #444;
  opacity: 0.6;
  z-index: 10; }

/*.apple-fixed-layout*/
.invisible {
  visibility: hidden;
  z-index: 0; }

.fixed-page-wrap {
  position: absolute;
  left: 25%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px 5px rgba(80, 80, 80, 0.5);
  -moz-box-shadow: 0 0 5px 5px rgba(80, 80, 80, 0.5);
  box-shadow: 0 0 5px 5px rgba(80, 80, 80, 0.5);
  background-color: #FFF; }

.apple-fixed-layout #spine-divider {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  margin: 0;
  width: 1px;
  -webkit-box-shadow: 0 0 15px 3px rgba(5, 5, 5, 0.7);
  -moz-box-shadow: 0 0 15px 3px rgba(5, 5, 5, 0.7);
  box-shadow: 0 0 15px 3px rgba(5, 5, 5, 0.7);
  display: none;
  background-color: #444;
  opacity: 0.6;
  z-index: 10; }

.two-up .fixed-page-wrap {
  width: 50%; }
.two-up .fixed-page-wrap.odd {
  left: 50%; }
.two-up .fixed-page-wrap.even {
  left: 0%; }

body.apple-fixed-layout {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.apple-fixed-layout #readium-book-view-el {
  margin: auto; }

#readium-info {
  text-align: center;
  padding: 30px;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, white));
  background-image: -webkit-linear-gradient(top, #cccccc, white);
  background-image: -moz-linear-gradient(top, #cccccc, white);
  background-image: -ms-linear-gradient(top, #cccccc, white);
  background-image: -o-linear-gradient(top, #cccccc, white);
  background-image: linear-gradient(top, #cccccc, white); }
  #readium-info #version-info, #readium-info .green, #readium-info .modal-detail.green {
    color: #6FA64D; }
  #readium-info p {
    margin: 0;
    margin-bottom: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    text-align: center; }
  #readium-info div {
    text-align: center; }
  #readium-info h3 {
    line-height: 27px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    text-rendering: optimizelegibility;
    display: block; }

.scrolling-page-margin {
  background-color: #FFF;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  margin-top: 1%;
  height: 90%;
  -webkit-box-shadow: 0 0 5px 5px #888888;
  -moz-box-shadow: 0 0 5px 5px #888888;
  box-shadow: 0 0 5px 5px #888888; }

#scrolling-content {
  height: 100%; }

/**************** THE TOC PANEL ************************/
#readium-toc {
  position: fixed;
  width: 25%;
  background-color: #F3F6F7;
  top: 0;
  z-index: 999;
  bottom: 0;
  padding-top: 45px;
  border-left: 1px solid #DDD;
  font-size: 0.8em;
  overflow: scroll;
  border-right: 2px solid #999; }

#readium-toc li {
  text-align: left;
  margin: 5px; }

#toolbar-el {
  height: 40px;
  width: 100%;
  padding: 0;
  margin: 0; }

#top-bar {
  width: 100%;
  position: fixed;
  height: 40px;
  top: 0px;
  z-index: 1000;
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter: alpha(opacity=9);
  -webkit-transition-property: all, 0.3s, linear;
  -moz-transition-property: all, 0.3s, linear;
  -ms-transition-property: all, 0.3s, linear;
  -o-transition-property: all, 0.3s, linear;
  transition-property: all, 0.3s, linear;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  background-color: #353f5e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353f5e), color-stop(100%, #000011));
  background-image: -webkit-linear-gradient(top, #353f5e, #000011);
  background-image: -moz-linear-gradient(top, #353f5e, #000011);
  background-image: -ms-linear-gradient(top, #353f5e, #000011);
  background-image: -o-linear-gradient(top, #353f5e, #000011);
  background-image: linear-gradient(top, #353f5e, #000011);
  color: #DDD;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 3px solid #6FA64D;
  padding: 0;
  margin: 0;
  text-align: center; }

#back-to-lib-button {
  float: left;
  margin-left: 20px; }

.top-bar-button {
  margin-top: 8px; }

#right-wrapper {
  float: right; }

#bar-logo {
  text-decoration: none; }
  #bar-logo img {
    max-height: 37px;
    max-width: 139px; }

#show-toolbar-button {
  width: 25px;
  height: 18px;
  background-color: #838383;
  border: 1px solid #555;
  position: relative;
  top: 10px;
  right: 10px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  #show-toolbar-button img {
    margin-top: 2px; }

#hide-toolbar-button {
  height: 40px;
  display: inline-block;
  position: relative;
  top: -30px; }
  #hide-toolbar-button img {
    position: relative;
    top: 15px;
    right: 1px; }

.bar-divider {
  width: 0;
  height: 40px;
  display: inline-block;
  border-left: 1px solid black;
  border-right: 1px solid #353F5E; }

html, body, #container {
  background-color: #BBB; }

.page-margin, .page {
  background-color: #FFF; }

#content {
  color: #EEE; }

.dark-theme html, .dark-theme body, .dark-theme #container {
  background-color: #000; }
.dark-theme #readium-content-container {
  color: #030303; }
.dark-theme .page-margin {
  border-left: 1px solid #000;
  border-right: 1px solid #000; }
.dark-theme .page-margin, .dark-theme .page {
  background-color: #444; }
.dark-theme #content {
  color: #EEE; }
