@import 'bourbon/bourbon';
@import 'library_bootstrap';
@import 'navbar_overrides';
@import 'clearfix';
@import 'readium_info_modal';

html, body, .library-container {
  width: 100%;
  overflow-x: hidden;
}

.library-container {
  padding-top: 45px;
}

.green {
  color: #6FA64D;
}

/*************** BEGIN: LIBRARY BOOKS ************/

/***** General Rules ***********/

.book-item .cover-image {
  -webkit-box-shadow: -7px 6px 12px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    -7px 6px 12px rgba(50, 50, 50, 0.75);
  box-shadow:         -7px 6px 12px rgba(50, 50, 50, 0.75);
}

.book-item .buttons {
  margin-top: 10px;
}

.book-item .info-item.title {
  font-weight: 300;
}

.info-item.epub-version, .info-item.author, .modal-detail {
  font-size: 14px;
  font-weight: normal;
  color: #999;
}

img.read:hover {
  cursor: pointer;
}

/***** The book details modal *******/
.details-modal {
  height: 300px;
  padding: 20px;
}

.modal-book-info {
  text-align: left;
}

.modal-title {
  font-weight: 300;
  font-size: 1.5em;
}

.modal-cover-wrap {
  margin-right: 20px;
}

.modal-detail.gap {
  margin-bottom: 25px;
}

img.details-cover-image {
  width: 150px;
  height: 220px;
}

.modal-detail.source {
clear: both;
text-align: left;
padding-top: 20px;
}

/**** library block item *******/
.block-view .book-item {
  text-align: center;
  float: left;
  margin: 20px 50px;
}

.block-view .btn.read {
  float: left;
}

.block-view .btn.details {
  float: right;
}

.block-view .info-icon {
  display: none;
}

.block-view .info-wrap {
  width: 150px;
}

.block-view .cover-image {
  width: 150px;
  height: 220px;
}

.block-view .info-icon {
  visibility: hidden;
}

.block-view .info-item {
  width: 150px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.block-view .info-item.title {
  width: 200px;
  font-weight: 300;
  position: relative;
  left: -25px;
}

.block-view .info-item.epub-version {
  display: none;
}

.block-view .info-item.author {
  margin-top: -5px;
}

/**** library row item ********/
.row-view .book-item {
  width: 100%;
  padding: 0px 20px;
  height: 150px;
}

.row-view .book-item:nth-child(odd) {
  background-color: #F3F3F3;

}

.row-view .cover-image {
  position: relative;
  width: 75px;
  height: 105px;
  top: -80px;
}

.row-view .book-info {
  position: relative;
  clear: none;
  left: 110px;
  top: 20px;
}

.row-view .buttons{
  display: none;
}

.row-view .info-icon {
  position: relative;
  right: 20px;
  top: -30px;
}

.row-view .info-item.title {
  font-weight: 300;
}

.row-view .info-item.author {
  margin-top: -5px;
  padding-bottom: 20px;
}

/***** No Books message ******/

#empty-message {
  padding: 7px 0px;
  text-align: right;
}

#empty-message-text {
  text-align: center;
  width: 250px;
  font-size: 2em;
  line-height: 1.1;
  font-weight: 200;
  display: inline-block;
  position: relative;
  left: 54px;
  top: 62px;
}


/*************** END: LIBRARY BOOKS ************/

#progress-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -200px;
  z-index: 100;
  border: 1px solid #DDD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  background-color: #EEE;
}

#progress-container h5 {
  color: #999;
}