//.light_theme { <---- eventually we will scope all this in the theme, but for now there is only one

// general styles

html, body, #container { 
	background-color: white;
}

// reflowable paginated style

	

	.page-margin, .page {
		background-color: #FFF;
	}

	#content {
		color: #EEE;
	}

.dark-theme {
	html, body, #container { 
		background-color: #000;
	}

	#readium-content-container {
		color: #030303;
	}

	.page-margin {
		border-left: 1px solid #000;
		border-right: 1px solid #000;
	}

	.page-margin, .page {
		background-color: #444;
	}

	#content {
		color: #EEE;
	}
}