//.light_theme { <---- eventually we will scope all this in the theme, but for now there is only one

// general styles

.default-theme {
	background-color: white;
	color: black;
}

.vancouver-theme {
	background-color: #DDD;
	color: #576b96;
}

.ballard-theme {
	background-color: #576b96;
	color: #DDD;
}

.parchment-theme {
	background-color: #f7f1cf;
	color: #774c27;
}

.night-theme {
	background-color: black;
	color: white;
}
// reflowable paginated style

	

//	.page-margin, .page {
//		background-color: #FFF;
//	}

//	#content {
//		color: #EEE;
//	}

.dark-theme {
	html, body, #container { 
		background-color: #000;
	}

	#readium-content-container {
		color: #030303;
	}

	.page-margin {
		border-left: 1px solid #000;
		border-right: 1px solid #000;
	}

	.page-margin, .page {
		background-color: #444;
	}

	#content {
		color: #EEE;
	}
}