//Right now these styles are applied to the top bar of the viewer only

#toolbar-el {
	height: 40px;
}

#top-bar {
	width: 100%;
	position: fixed;
	height: 30px;
	padding-top: 10px;
	top: 0px;
	z-index: 1000;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=9);
	@include transition (all 0.3s linear);
	@include linear-gradient(top, #353F5E, #000011);
	text-align: center;
	color: #DDD;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	border-bottom: 3px solid #6FA64D;
}

#back-to-lib-button {
	float: left;
	margin-left: 20px;
}


img#readium-icon {
	height: 25px;
	width: 45px;
	margin: auto 0px;
	padding: 0px;
	position: relative;
	display: inline;
}

.top-bar-button img#readium-icon{
	top: 0px;
}

#bar-logo {
	position: relative;
	top: -10px;
	right: 20px;
	img {
		max-height: 37px;
		max-width: 139px;
		clear: both;
	}
}