//Right now these styles are applied to the top bar of the viewer only

#toolbar-el {
	height: 40px;
	width: 100%;
	padding: 0;
	margin: 0;
}

#top-bar {
	width: 100%;
	position: fixed;
	height: 40px;
	top: 0px;
	z-index: 1000;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=9);
	@include transition (all 0.3s linear);
	@include linear-gradient(top, #353F5E, #000011);
	color: #DDD;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	border-bottom: 3px solid #6FA64D;
	padding: 0; margin: 0;
	text-align: center;
}

#back-to-lib-button {
	float: left;
	margin-left: 20px;
}


.top-bar-button {
	margin-top: 8px;
}


#right-wrapper {
	float: right;
}

#bar-logo {
	text-decoration: none;
	img {
			max-height: 37px;
			max-width: 139px;
	}
}


#show-toolbar-button {
	width: 25px;
	height: 18px;	
	background-color: #838383;
	border: 1px solid #555;
	position: relative;
	top: 10px; right: 10px;
	text-align: center;
	@include border-radius(4px);
	img {
		margin-top: 2px;
	}
}

#hide-toolbar-button {
	height: 40px;
	display: inline-block;
	position: relative;
	top: -30px;
	img {
		position: relative;
		top: 15px;
		right: 1px;
	}
}

.bar-divider {
	width: 0;
	height: 40px;
	display: inline-block;
	border-left: 1px solid black;
	border-right: 1px solid #353F5E;
}