<html>
	<head xmlns="http://www.w3.org/2000/xmlns/" xmlns:epub="http://www.idpf.org/2007/ops" xmlns:ev="http://www.w3.org/2001/xml-events">
		<!-- Keep track of usage stats via google analytics -->
	  	<script>
	    	var _gaq = _gaq || [];
	    	_gaq.push(['_setAccount', 'UA-29665823-1']);
	    	_gaq.push(['_trackPageview']);

	    	(function() {
	    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    		ga.src = 'https://ssl.google-analytics.com/ga.js';
	    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    	})();
		</script>
		<meta charset="UTF-8">

		<!-- Le styles -->
		<link rel="stylesheet" type="text/css" href="/css/viewer_manifest.css">


		<script src="/lib/jquery-1.7.1.min.js" type="text/javascript" ></script>
		
		<!-- This one file: -->
		<script src="/scripts/libs/plugins.js" type="text/javascript" ></script>
		<!--contains the following concatenated in order: -->
		<!--/lib/underscore.min.js-->
		<!--/lib/backbone.min.js-->
		<!--/lib/lawnchair-0.6.1.min.js-->
		<!--/lib/bootstrap-custom.min.js-->
		<!--/lib/jquery.mousewheel.js-->
		<!--/lib/pan_and_zoom.js-->
		<!--/lib/jath.js-->
		<!--/lib/URI.js-->
		<!--/lib/ZipFile.complete.js-->

		<!-- Must include the namespace before any application code -->
		<script src="/scripts/namespaces/crx_viewer_namespace.js" type="text/javascript"></script>
		<script src="/scripts/fileSystemApi.js" type="text/javascript" ></script>
		<script src="/scripts/utils/cookie_utils.js" type="text/javascript"></script>
		<script src="/scripts/utils/bb_file_system_sync.js" type="text/javascript"></script>
		<script src="/scripts/utils/local_storage_sync.js" type="text/javascript"></script>
		<script src="/scripts/models/manifest_item.js" type="text/javascript"></script>
		<script src="/scripts/models/packageDocument.js" type="text/javascript"></script>
		<script src="/scripts/models/ebook.js" type="text/javascript"></script>
		<script src="/scripts/models/toc.js" type="text/javascript"></script>
		<script src="/scripts/models/paginator.js" type="text/javascript"></script>
		<script src="/scripts/models/trigger.js" type="text/javascript"></script>
		<script src="/scripts/views/pagination_strategies/pagination_view_base.js" type="text/javascript"></script>
		<script src="/scripts/views/pagination_strategies/fixed_pagination_view.js" type="text/javascript"></script>
		<script src="/scripts/views/pagination_strategies/reflowable_pagination_view.js" type="text/javascript"></script>
		<script src="/scripts/views/pagination_strategies/scrolling_pagination_view.js" type="text/javascript"></script>
		<script src="/scripts/views/nav_widget_view.js" type="text/javascript"></script>
		<script src="/scripts/views/toolbar_view.js" type="text/javascript"></script>
		<script src="/scripts/views/toc_view.js" type="text/javascript"></script>
		<script src="/scripts/viewer.js" type="text/javascript"></script>
		<script src="/scripts/routers/crx_viewer_router.js" type="text/javascript"></script>
		<script src="/lib/mathjax/MathJax.js?config=readium" type="text/javascript"></script>
        <script src="/scripts/models/audioClipPlayer.js" type="text/javascript"></script>
        <script src="/scripts/models/smilModel.js" type="text/javascript"></script>
		<script src="/scripts/models/mediaOverlay.js" type="text/javascript"></script>
	</head>
	<body>

 		<div id='readium-toc' style="display: none">
 			
 		</div> 

 		<div class="navbar navbar-fixed-top" id='toolbar-el'><!-- le top bar -->

			<div class="navbar-inner" id="top-bar">
				<div class="container" style="width: 100%">

					<a class="brand" data-toggle="modal" href="#readium-info" id='bar-logo'>
						<img src="/images/top_bar/readium_logo.png"/>
					</a>

					<ul class="nav pull-right">
						<li class="divider-vertical stubby"></li>
						<li>
							<a href="/views/library.html" id="back-to-lib-button">
								<img src="/images/top_bar/ico_library.png" class="small"/>
							</a>
						</li>
						<li>
							<a href="#" id='block-view-btn'>
								<img src="/images/top_bar/ico_toc.png" class="small"/>
							</a>
						</li>
						<li>
							<a href="#" id='block-view-btn'>
								<img src="/images/top_bar/ico_tts.png" class="small"/>
							</a>
						</li>
						<li class="divider-vertical stubby"></li>
						<li>
							<a href="#viewer-settings-modal" id="options-btn" data-toggle="modal">
								<img src="/images/top_bar/options.png" class="small"/>
							</a>
						</li>
						<li>
							<a href="#" id="nightmode-btn" data-toggle="modal">
								<img src="/images/top_bar/ico_nightmode_toggle_off.png" class="small"/>
							</a>
						</li>
						<li>
							<a href="#" id="fs-toggle-btn" >
								<img src="/images/top_bar/ico_fs_toggle_on.png" class="small" id="go-to-fs-ico"/>
								<img src="/images/top_bar/ico_fs_toggle_off.png" class="small" id="leave-fs-ico"/>
							</a>
						</li>
						<li class="divider-vertical"></li>
						<li style="margin-right: 15px">
							<a id="hide-toolbar-button" class="toggle-bar-btn">
		 						<img src="/images/top_bar/ico_closeUI.png" alt="X" />
							</a>
						</li>

					</ul>
			

				</div>
			</div>
			<span id="show-toolbar-button" class="pull-right">
 				<img src="/images/top_bar/ico_openUI.png" alt="V"  />
			</span>
    	</div><!-- end le top bar -->

    	<a id="next-page-button"></a>
    	<a id="prev-page-button"></a>

    		

 		<div id="settings" class="clearfix">
			<span class='setting-button' id="show-toc-button">
				<img id='toc-icon' src="/images/overlay/table_of_contents.png" alt="+"/>
			</span>
			<span class="divider"></span>
						
			<span class='setting-button' id="increase-font-button">
				<img id='inc-font-icon' src="/images/overlay/text_size_larger.png" alt="+"/>
			</span>
			<span class="divider"></span>
			<span class='setting-button' id="decrease-font-button">
				<img id='dec-font-icon' src="/images/overlay/text_size_smaller.png" alt="-"/>
			</span>
			<span class="divider"></span>
			<span class='setting-button' id="fullscreen-button">
				<img id='to-fs-icon' src="/images/overlay/fs_toggle_zoom.png" alt="-"/>
				<img id='from-fs-icon' src="/images/overlay/fs_toggle_normal.png" alt="-"/>
			</span>
			<span class="divider"></span>
			<span class='setting-button' id="two-up-button">
				<img id='two-up-icon' src="/images/overlay/2page_view_toggle.png" alt="2"/>
				<img id='one-up-icon' src="/images/overlay/1page_view_toggle.png" alt="2"/>
			</span>
			<span class="divider"></span>
			<span class='setting-button' id="page-back-button">
				<img id='page-back-icon' src="/images/overlay/arrow_previous.png"  alt="<"/>
			</span>
			<span class="divider"></span>
			<span class='setting-button' id="page-fwd-button">
				<img id='page-fwd-icon' src="/images/overlay/arrow_next.png" alt="<"/>
			</span>
		</div>

		<div id="readium-book-view-el">
 			<div id='readium-content-container'></div>
 			<div id='page-wrap' class='clearfix'>
				<div id="container" class='clearfix'></div>
				<div id='spine-divider'></div>
			</div>
		</div>

		<div class="modal fade" id="viewer-settings-modal"  style="display: none"><!-- le settings modal -->
			<div id='settings-margin'>
				<div id="preview-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus neque dui, congue a suscipit non, feugiat eu urna. Donec tempus, nunc vel rutrum posuere, quam magna imperdiet elit, eget facilisis mauris tellus non eros. Cras in felis sed orci aliquam sagittis. Cras adipiscing rhoncus justo commodo sodales. Phasellus vel mauris vel ipsum semper feugiat at ut sapien. Mauris consectetur aliquam aliquam. Nunc viverra dictum enim sit amet cursus.

					Proin adipiscing rutrum ante. Vivamus tristique nisl quis neque viverra facilisis. Maecenas quis quam risus, at lacinia quam. Maecenas imperdiet, eros quis vulputate rutrum, metus neque sollicitudin libero, vel lobortis elit nisl sit amet lectus. Proin metus elit, mollis in fringilla sit amet, fermentum et odio. Sed sapien metus, consequat a bibendum et, eleifend eu mi. Praesent interdum lorem non risus sollicitudin vitae viverra nisi accumsan. Donec felis odio, tempus quis venenatis ac, auctor vitae sapien. Aenean quis nisl risus. Nulla sed pellentesque mauris.
				</div>
				<div>
					<h3 class="setting-header">FONT SIZE</h3>
					<div class="clearfix">
						<span id="font-size-icon"></span>
						<input type="range" id="font-size-input" />
					</div>
				</div>
				<div>
					<h3 class="setting-header">MARGINS</h3>
					<div class="clearfix">
						<span id="margin-option-1" class="margin-radio clickable"></span>
						<span id="margin-option-2" class="margin-radio clickable"></span>
						<span id="margin-option-3" class="margin-radio clickable"></span>
						<span id="margin-option-4" class="margin-radio clickable"></span>
						<span id="margin-option-5" class="margin-radio clickable"></span>
					</div>
				</div>
				<div>
					<h3 class="setting-header">TEXT AND BACKGROUND COLOR</h3>
					<div class="clearfix">
						<span id="default-theme-option" class="theme-option default-theme clickable">Black and White</span>
						<span id="default-theme-option" class="theme-option night-theme clickable">Arabian Nights</span>
						<span id="parchment-theme-option" class="theme-option parchment-theme clickable">Sands of Dune</span>
						<span id="ballard-theme-option" class="theme-option ballard-theme clickable">Ballard Blues</span>
						<span id="vancouver-theme-option" class="theme-option vancouver-theme clickable">Vancouver Mist</span>
					</div>
				</div>
				<div>
					<h3 class="setting-header">DISPLAY FORMAT</h3>
					<div class="clearfix" id="two-up-options">
						<span id="one-up-option clickable" class="simple-radio clickable">Single Pages</span>
						<span id="two-up-option clickable" class="simple-radio clickable">Double Pages</span>
					</div>
				</div>
			</div>
			<div id="settings-form-footer" class="clearfix">
				<button class='btn btn-inverse'>Cancel</button>
				<button class='btn btn-inverse'>Save Settings</button>
			</div>
			
		</div><!-- end le info modal -->

		<div class="modal fade" id="readium-info"  style="display: none"><!-- le info modal -->
			<div>
				<img src="/images/info_modal/about_readium_logo.png">
			</div>
			<div>
				<h3 id="version-info">Version 0.2.5 Release Date 5.16.12</h3>
			</div>
			<p>
				Readium<sup>TM</sup>, a project of the International Digital Publishing Forum (IDPF) and supporters, is an open source reference system and rendering engine for EPUB&reg; publications.  To learn more, visit the <a href="http://readium.org/">project homepage</a>. To date, the project development has been lead by <a href="http://evidentpoint.com/">Evident Point</a> and <a href="http://www.bluefirereader.com/">Bluefire Productions</a>. To contribute visit the <a href="https://github.com/readium/readium">github repository</a>
				</p>
			<div>
				<img src="/images/info_modal/partner_logos.png">
			</div>
		</div><!-- end le info modal -->


		<!-- templates -->
		<script type="text/template" id='reflowing-page-template'>
			<div id="page-<%= page_num %>" class="page-wrap <%= (page_num % 2 === 0) ? "left" : "right" %>">
				<div class="page-margin">
					<% if(!empty) { %>
					<div class="page"></div>
					<% } %>
				</div>
			</div>
		</script>

		<script type="text/template" id='fixed-page-template'>
			
				<div class="fixed-page-margin">

					<iframe scrolling="no" 
							frameborder="0" 
							marginwidth="0" 
							marginheight="0" 
							width="<%= width %>px" 
							height="<%= height %>px" 
							src="<%= uri %>"
							class='content-sandbox'>
					</iframe>
				</div>
			
		</script>

		<script type="text/template" id='scrolling-page-template'>
			<div id="scrolling-content" class="scrolling-page-wrap">
				<div class="scrolling-page-margin">

					<iframe scrolling="yes" 
							frameborder="0" 
							marginwidth="0" 
							marginheight="0" 
							width="100%" 
							height="100%" 
							src="<%= uri %>"
							class='content-sandbox'>
					</iframe>
				</div>
			</div>
		</script>

		<script type="text/template" id='empty-fixed-page-template'>
			<div id="page-0" class="fixed-page-wrap even">
				<div class="page-margin" style="width: <%=  width %>px; height: <%= height %>px">
				</div>
			</div>
		</script>

		<script type="text/template" id='ncx-nav-tempate'>
			<li class="nav-elem">
				<a href="<%= href %>"><%= text %></a>
			</li>
		</script>

		<script type='text/template' id="binding-template">
			<iframe scrolling="no" 
					frameborder="0" 
					marginwidth="0" 
					marginheight="0" 
					width="100%" 
					height="100%" 
					class='binding-sandbox'>
			</iframe>
		</script>
	</body>
</html>
