<!DOCTYPE html>
<html>
	<head>
		<title>Readium Cloud Reader</title>
		<meta name=viewport content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>  

		
		<style>body{padding-top:40px}</style>
		<link rel=stylesheet type="text/css" href='/css/8d5dc97.css'>		
  		<script src="lib/modernizr-2.5.3.min.js"></script>

  		
  		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  		<script>window.jQuery || document.write('<script src="/lib/jquery-1.7.1.min.js"><\/script>')</script>

		<script src="/scripts/libs/web_plugins.js" type="text/javascript"></script>		

		
		<script>
			$( document ).bind( "mobileinit", function() {
			    // Make your jQuery Mobile framework configuration changes here!
			    $.mobile.ajaxEnabled = false;
			    $.mobile.linkBindingEnabled = false;
			    $.mobile.hashListeningEnabled = false;
			    $.mobile.pushStateEnabled = false;
			});
		</script>

		
		<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
		<script>window.$.mobile || document.write('<script src="/lib/jQuery.mobile-1.1.0.js"><\/script>')</script>
	
		<script src='scripts/914cf70.js'></script>
		
		<script src="lib/mathjax/MathJax.js?config=readium" type="text/javascript"></script>
		
  		<script>
  			// save us one ajax call that we will always have to make
  			// this can also be grabbed by navigating to /epub_content/metadata.json
  			window.ReadiumLibraryData = [
				{
					"fixed_layout":false,
					"open_to_spread":false,
					"cover_href":"/images/library/missing-cover-image.png",
					"created_at":"2012-03-27T19:22:01.521Z",
					"updated_at":"2012-03-27T19:23:38.309Z",
					"key":"1",
					"src_url":"Local Directory: linear-algebra/",
					"package_doc_path":"/epub_content/1/EPUB/package.opf",
					"id":"code.google.com.epub-samples.linear-algebra",
					"epub_version":"3.0",
					"title":"A First Course in Linear Algebra",
					"author":"Robert A. Beezer",
					"publisher":"",
					"description":"",
					"rights":"This work is shared with the public using the GNU Free Documentation License, Version 1.2.",
					"language":"en",
					"pubdate":"",
					"modified_date":"2012-03-05T12:47:00Z",
					"layout":"",
					"spread":"",
					"orientation":"",
					"ncx":""
				},
				{
					"fixed_layout":false,
					"open_to_spread":false,
					"cover_href":"/epub_content/2/EPUB/images/portrait.jpg",
					"created_at":"2012-03-27T19:24:45.543Z",
					"updated_at":"2012-03-27T19:25:00.094Z",
					"key":"2",
					"src_url":"Local Directory: cole-voyage-of-life/",
					"package_doc_path":"/epub_content/2/EPUB/cole.opf",
					"id":"code.google.com.epub-samples.cole-voyage-of-life",
					"epub_version":"3.0",
					"title":"Thomas Cole - The Voyage of Life",
					"author":"Jesse Dylan",
					"publisher":"",
					"description":"",
					"rights":"This work is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License.",
					"language":"en-US",
					"pubdate":"",
					"modified_date":"2012-03-20T11:37:00Z",
					"layout":"",
					"spread":"",
					"orientation":"",
					"ncx":""
				},{
					"fixed_layout":false,
					"open_to_spread":false,
					"cover_href":"/epub_content/3/EPUB/wasteland-cover.jpg",
					"created_at":"2012-03-27T19:25:40.235Z",
					"updated_at":"2012-03-27T19:26:06.326Z",
					"key":"3",
					"src_url":"Local Directory: wasteland/",
					"package_doc_path":"/epub_content/3/EPUB/wasteland.opf",
					"id":"code.google.com.epub-samples.wasteland-basic","epub_version":"3.0",
					"title":"The Waste Land","author":"T.S. Eliot",
					"publisher":"",
					"description":"",
					"rights":"This work is shared with the public using the Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0) license.",
					"language":"en-US",
					"pubdate":"2011-09-01",
					"modified_date":"2012-01-18T12:47:00Z",
					"layout":"",
					"spread":"",
					"orientation":"",
					"ncx":"ncx"
				},{
					"fixed_layout":true,
					"open_to_spread":false,
					"cover_href":"/epub_content/4/OPS/Image/cover.jpg",
					"created_at":"2012-03-28T18:24:18.450Z",
					"updated_at":"2012-03-28T18:25:32.553Z",
					"key":"4",
					"src_url":"Local Directory: page-blanche/",
					"package_doc_path":"/epub_content/4/OPS/package.opf",
					"id":"urn:uuid:d5803940-647f-11e1-ad77-0002a5d5c51b",
					"epub_version":"3.0",
					"title":"Page Blanche","author":"Boulet",
					"publisher":"éditions Delcourt",
					"description":"",
					"rights":"This work is shared with the public using the Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0) license.",
					"language":"fr",
					"pubdate":"2012-01-18",
					"modified_date":"2012-03-06T12:00:00Z",
					"layout":"pre-paginated",
					"spread":"auto",
					"orientation":"auto",
					"ncx":""
				}, {
					"author": "Mary Webb",
					"cover_href": "/images/library/missing-cover-image.png",
					"created_at": "2012-04-10T21:47:53.353Z",
					"description": "",
					"epub_version": "2.0",
					"fixed_layout": false,
					"id": "urn:uuid:ADDB2B4D-BA43-4DE9-8BAB-CF8759C8F843",
					"key": "3921047c34132ab12338059f09bbf5c8",
					"language": "en-gb",
					"layout": "",
					"modified_date": "",
					"ncx": "ncx",
					"open_to_spread": false,
					"orientation": "",
					"package_doc_path": "/epub_content/5/OPS/content.opf",
					"pubdate": "2002",
					"publisher": "epubBooks (www.epubbooks.com)",
					"rights": "↵            Provided for free by epubBooks.com. Not for commercial use.↵            This EPUB eBook is released under a Creative Commons (BY-NC-ND/3.0) Licence.↵            Source text and images are in the Public Domain.↵      ",
					"spread": "",
					"src_url": "webb-precious-bane.epub",
					"title": "Precious Bane",
					"updated_at": "2012-04-10T21:48:57.267Z",
				}
			]
  		</script>

		
	</head>
	<body>
		<div id=readium-library-activity>
		<div class="navbar navbar-fixed-top">

			<div class=navbar-inner id=inner-top-bar>
				<div class=container-fluid style="width: 100%">


					<div class="bar-icon wide">
						<a href="#add-book-modal" data-toggle=modal>
							<img src="/images/top_bar/add_book.png" class=small />
						</a>
					</div>
					
					<div class=bar-icon>
						<a href="#" id=block-view-btn>
							<img src="/images/top_bar/thumb_view.png" class=small />
						</a>
					</div>
					
					<div class=bar-icon>
						<a href="#" id=row-view-btn>
							<img src="/images/top_bar/list_view.png" class=small />
						</a>
					</div>

					<div class=bar-icon>
						<a href="#readium-options-modal" id=options-btn data-toggle=modal>
							<img src="/images/top_bar/options.png" class=small />
						</a>
					</div>


					<a class=pull-right data-toggle=modal href="#readium-info" id=bar-logo>
						<img src="/images/top_bar/READIUM_TOOLBAR_LOGO.png"/>
					</a>

				</div>
			</div>


    	</div>

    	

		<div class=shmontainer>
		<div id=flash-container></div>
		<div class=content>
			<div id=library-books-list>
				<div id=loading-message>
					<h2>Loading Library</h2>
					<img src="/images/ajax-loader.gif" alt="loading..." height=42 width=42 />
				</div>
			</div>


			
			
			
			
				
			<div class="modal fade" id=readium-info>
				<div>
					<img src="/images/info_modal/about_readium_logo.png">
				</div>
				<div>
					<h3 id=version-info>Version 0.2.0 Release Date 3.23.12</h3>
				</div>
				<p>
				Readium<sup>TM</sup>, a project of the International Digital Publishing Forum (IDPF) and supporters, is an open source reference system and rendering engine for EPUB&reg; publications.  To learn more, visit the <a href="http://readium.org/">project homepage</a>. To date, the project development has been lead by <a href="http://evidentpoint.com/">Evident Point</a> and <a href="http://www.bluefirereader.com/">Bluefire Productions</a>. To contribute visit the <a href="https://github.com/readium/readium">github repository</a>
				</p>
				<div>
					<img src="/images/info_modal/partner_logos.png">
				</div>
			</div>

				
			<div id=add-book-modal class="modal fade">
		
				<div class=modal-header>
					<a class=close data-dismiss=modal>&times;</a>
					<h3>Add Book To Readium Library:</h3>
				</div>

				<div class=modal-body>

					<form class=form-horizontal>


          
        		<div class=control-group>

					<label for=book-url>From the web:</label>
					<div class=controls>
										<input type=text id=book-url class=span3 placeholder="http://">
										<p class=help-block>Enter a URL to a .epub file</p>
					</div>
				</div>
				<div class=control-group>
					<label for=files>From Local File:</label>
					<div class=controls>
					<input type=file id=files name="files[]" multiple/>
					</div>
					
					
				</div>

				<div class=control-group id=unpacked-input>
					<label for=files>Unpacked Directory:</label>
					<div class=controls>
					<input type=file id=dir_input webkitdirectory="" directory="">
					</div>
					
					
				</div>
				<div class=control-group>
            		<label class=control-label for=optionsCheckbox>Validate:</label>
            		<div class=controls>
              		<label class=checkbox>
                		<input type=checkbox id=optionsCheckbox value=option1>
                		Confirm that this book complies with ePUB standards
              			</label>
            		</div>
          		</div>

          		

					</form>
					
					
				</div>

				<div class=modal-footer>
					
					<button id=url-button class='btn btn-primary'>Add Book</button>
					<a href="#" class=btn data-dismiss=modal>Cancel</a>
				</div>

			</div>


		<div class="modal fade" id=readium-options-modal>
			<div class=modal-header>
				<a class=close data-dismiss=modal>&times;</a>
				<h2>Readium Options:</h2>
			</div>
			
			<div class=modal-body>
		
				<form class=form>
        <fieldset>
          
			
          <div class=control-group>
            <label class=control-label for=optionsCheckbox></label>
            <div class=controls>
              <label class=checkbox>
                <input type=checkbox id=paginate_everything value=paginate_everything>
                Paginate all reflowable ePUB content
              </label>
            </div>
          </div>
           
          <div class=control-group>
            <label class=control-label for=optionsCheckbox></label>
            <div class=controls>
              <label class=checkbox>
                <input type=checkbox id=hijack_epub_urls value=hijack_epub_urls>
                Automatically open *.epub urls in readium
              </label>
            </div>
          </div>

          <div class=control-group>
            <label class=control-label for=optionsCheckbox></label>
            <div class=controls>
              <label class=checkbox>
                <input type=checkbox id=verbose_unpacking value=verbose_unpacking>
                Show warning messages when unpacking EPUB files
              </label>
            </div>
          </div>
          
        </fieldset>
      </form>
      </div>
			
			<div class=modal-footer>
                <a href="#" class="btn btn-primary" id=save-settings-btn>Save changes</a>
                <a href="#" class=btn data-dismiss=modal>Close</a>
            </div>
		</div>


			<div id=progress-container class=span5 style="display: none">
			</div>

		</div>
		</div>

		
		<script type="text/template" id=library-item-template>
			<div class='info-wrap clearfix'>
				<div class='caption book-info'>
					<h3 class='green info-item title'><%= data.title %></h3>
					<h3 class='info-item author'><%= data.author || "Unknown" %></h3>
					<h3 class='info-item epub-version'>ePUB <%= data.epub_version || "?" %></h3>
					
				</div>
				
				<img class='cover-image read' src='<%= data.cover_href %>' width='150' height='220' >
				
				<a href="#details-modal-<%= data.key %>" class="info-icon" data-toggle="modal">
					<img class='info-icon pull-right' src='/images/library/info-icon.png' height="39px" width="39px"  >
				</a>
			</div>
			
			<div class="caption clearfix buttons">
				<a href="#todo" class="btn read" data-book='<%= data.key %>'>Read</a>
				<a href="#details-modal-<%= data.key %>" class="btn details" data-toggle="modal" >
					Details
				</a>
			</div>

			<div id='details-modal-<%= data.key %>' class='modal fade details-modal'>
				<div class="pull-left modal-cover-wrap">
					<img class='details-cover-image' src='<%= data.cover_href %>' width='150' height='220' >
					<div class="caption clearfix modal-buttons">
				<a href="#todo" class="btn read" data-book='<%= data.key %>'>Read</a>
				<a class="btn btn-danger delete pull-right">Delete</a>
			</div>
				</div>
				<div class='caption modal-book-info'>
					<h3 class='green modal-title'><%= data.title %></h3>
					<div class='modal-detail gap'>Author: <%= data.author || "Unknown" %></div>
					<div class='modal-detail'>Publisher: <%= data.publisher || "Unknown" %></div>
					<div class='modal-detail'>Pub Date: <%= data.pubdate || "Unknown" %></div>
					<div class='modal-detail'>Modified Date: <%= data.modified_date || "Unknown" %></div>
					<div class='modal-detail gap'>ID: <%= data.id || "Unknown" %></div>
					<div class='modal-detail green'>Format: ePUB <%= data.epub_version || "Unknown" %></div>
					<div class='modal-detail'>Added: <%= data.created_at || "Unknown" %></div>
				</div>
				<div class='modal-detail source'>
				<span class='green' style="padding-right: 10px">Source:</span>
					<%= data.src_url || "Unknown" %>
				</div>
			</div>			
		</script>
		

		<script type="text/template" id=library-items-template>
			<div id='empty-message'>
				<img id='empty-arrow' src='/images/library/empty_library_arrow.png' />
				<p id='empty-message-text' class='green'>
					Add items to your</br>library here!
				</p>
			</div>
		</script>

		<script type="text/template" id=extracting-item-template>
			<h5><%= log_message %></h5>
			<div class="progress progress-striped active ">	
	  			<div class="bar" style="width: <%= progress %>%;"></div>
			</div>
		</script>
	</div>
	<div id=readium-viewer-activity style="display: none">
	<div id=readium-toc style="display: none">
 			
 		</div> 

 		<div id=toolbar-el>
	 		<div id=top-bar>
	 			
	 			<span class=top-bar-button id=back-to-lib-button>
	 				<a href='#/'>
						<img id=readium-icon src="/images/top_bar/back_to_library.png" alt=lib />
					</a>
				</span>
				

				<div id=right-wrapper>
					<a data-toggle=modal href="#readium-info" id=bar-logo>
						<img src="/images/top_bar/READIUM_TOOLBAR_LOGO.png" height=37px width=139px />
					</a>
					<div class=bar-divider></div>
					<a id=hide-toolbar-button class=toggle-bar-btn>
		 				<img src="/images/top_bar/Up.png" alt=X width=12px height=12px />
					</a>
				</div>
 			</div>
 			<span id=show-toolbar-button class="pull-right toggle-bar-btn">
 				<img src="/images/top_bar/Down.png" alt=V width=12px height=12px />
			</span>
 		</div>

 		<div id=settings class=clearfix>
			<span class=setting-button id=show-toc-button>
				<img id=toc-icon src="/images/overlay/table_of_contents.png" alt="+"/>
			</span>
			<span class=divider></span>
						
			<span class=setting-button id=increase-font-button>
				<img id=inc-font-icon src="/images/overlay/text_size_larger.png" alt="+"/>
			</span>
			<span class=divider></span>
			<span class=setting-button id=decrease-font-button>
				<img id=dec-font-icon src="/images/overlay/text_size_smaller.png" alt=- />
			</span>
			<span class=divider></span>
			<span class=setting-button id=fullscreen-button>
				<img id=to-fs-icon src="/images/overlay/fs_toggle_zoom.png" alt=- />
				<img id=from-fs-icon src="/images/overlay/fs_toggle_normal.png" alt=- />
			</span>
			<span class=divider></span>
			<span class=setting-button id=two-up-button>
				<img id=two-up-icon src="/images/overlay/2page_view_toggle.png" alt=2 />
				<img id=one-up-icon src="/images/overlay/1page_view_toggle.png" alt=2 />
			</span>
			<span class=divider></span>
			<span class=setting-button id=page-back-button>
				<img id='page-back-icon' src="/images/overlay/arrow_previous.png"  alt="<"/>
			</span>
			<span class=divider></span>
			<span class=setting-button id=page-fwd-button>
				<img id='page-fwd-icon' src="/images/overlay/arrow_next.png" alt="<"/>
			</span>
		</div>

		<div id=readium-book-view-el>
			<div id=touch-panel style="display: none"></div>
 			<div id=readium-content-container></div>
 			<div id=page-wrap class=clearfix>
				<div id=container class=clearfix></div>
				<div id=spine-divider></div>
			</div>
		</div>

		<div class="modal fade" id=readium-info>
			<div>
				<img src="/images/info_modal/about_readium_logo.png">
			</div>
			<div>
				<h3 id=version-info>Version 0.2.0 Release Date 3.23.12</h3>
			</div>
			<p>
				Readium<sup>TM</sup>, a project of the International Digital Publishing Forum (IDPF) and supporters, is an open source reference system and rendering engine for EPUB&reg; publications.  To learn more, visit the <a href="http://readium.org/">project homepage</a>. To date, the project development has been lead by <a href="http://evidentpoint.com/">Evident Point</a> and <a href="http://www.bluefirereader.com/">Bluefire Productions</a>. To contribute visit the <a href="https://github.com/readium/readium">github repository</a>
				</p>
			<div>
				<img src="/images/info_modal/partner_logos.png">
			</div>
		</div>


		
		<script type="text/template" id=reflowing-page-template>
			<div id="page-<%= page_num %>" class="page-wrap <%= (page_num % 2 === 0) ? "even" : "odd" %>">
				<div class="page-margin">
					<% if(!empty) { %>
					<div class="page"></div>
					<% } %>
				</div>
			</div>
		</script>

		<script type="text/template" id=fixed-page-template>
			<div id="page-<%= page_num %>" class="fixed-page-wrap <%= (page_num % 2 === 0) ? "even" : "odd" %>">
				<div class="fixed-page-margin">

					<iframe scrolling="no" 
							frameborder="0" 
							marginwidth="0" 
							marginheight="0" 
							width="<%= width %>px" 
							height="<%= height %>px" 
							src="<%= uri %>"
							class='content-sandbox'>
					</iframe>
				</div>
			</div>
		</script>

		<script type="text/template" id=scrolling-page-template>
			<div id="scrolling-content" class="scrolling-page-wrap">
				<div class="scrolling-page-margin">

					<iframe scrolling="yes" 
							frameborder="0" 
							marginwidth="0" 
							marginheight="0" 
							width="100%" 
							height="100%" 
							src="<%= uri %>"
							class='content-sandbox'>
					</iframe>
				</div>
			</div>
		</script>

		<script type="text/template" id=empty-fixed-page-template>
			<div id="page-0" class="fixed-page-wrap even">
				<div class="page-margin" style="width: <%=  width %>px; height: <%= height %>px">
				</div>
			</div>
		</script>

		<script type="text/template" id=ncx-nav-tempate>
			<li class="nav-elem">
				<a href="<%= href %>"><%= text %></a>
			</li>
		</script>

		<script type='text/template' id=binding-template>
			<iframe scrolling="no" 
					frameborder="0" 
					marginwidth="0" 
					marginheight="0" 
					width="100%" 
					height="100%" 
					class='binding-sandbox'>
			</iframe>
		</script>
	</div>

	
	<script src="/lib/modernizr.css-regions.js"></script>
	</body>
</html>