Purpose of document:
This document describes the requirements for implementing the Alternate Style Tags specification for ePUB 3.0

Requirements/Rules:

HTML 
- Persistent, preferred and alternate style sheets.
  - Persistent when 'title' attribute is ommitted. 
  - Preferred defined by rel="stylesheet" and title="xxx" and order
  - First preferred style sheet or style set is loaded; can be changed with the Default-Style meta or HTTP header 
  - Alternate defined by rel="alternate stylesheet" and title="xxx"
  - A stylehseet marked "alternate" cannot be a persistent sheet if a preferred sheet without "alternate" does not exist
  - If only alternate style sheets exist, no styles will be applied.
- Style sheets can be grouped and interpreted together using the 'title' attribute. This is a 'style set'

ePUB 3.0
- The 'class' attribute is used to tag a style sheet to indicate it implements some functionality. Multiple (non-mutually-exclusive) tags can be added to the class attribute.
- Both alternate and persistent style sheets can be tagged in this way
- Tagging a style sheet that's part of a 'style set' indicates that the entire set implements the tag functionality
- Authors should tag all style sheets in a 'style set' with the same tag
- Tags are ignored if sheets within the same 'style set' are tagged with mutually exclusive tags.
- So far, standard tags include vertical/horizontal and night/day
- A specification that defines style tags may indicate that a particular tag is assumed to be the default for untagged style sets
- Assumes no space-separated classnames that refer to a single class. These are always a combination of alternate style tags

Compatibility concerns: 
- Investigate class attribute support on the link element; introduced as standard in HTML5; potentially supported for awhile.

Other issues:
- Stylesheets can be turned off

